.edit-from__input textarea {
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;
    padding: 10px;
}

.edit-from__inner button {
    box-shadow: 1px 1px 1px 1px #0000005e;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
    background: linear-gradient(90deg, #e2691a, 60%, #f9e23c);
    border: none;
    margin-top: -6px;
    border-radius: 0 0px 10px 10px;
}

.edit-form__cheated {
    margin-bottom: 10px;
    color: grey;
    zoom: 1.5;
}

.edit-form__cheated_selected {
    color: rgb(213, 1, 1);
}