.month__inner {
    background: linear-gradient(#d8dbe4, #8a95a7);
    padding: 20px 10px;
    border-radius: 20px;
}

.month__data {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.month__header {
    margin-bottom: 10px;
    text-align: center;
    color: black;
}