.dropdown {
    position: relative;
}

.dropdown__list {
    width: 100%;
    position: absolute;
    left: 0;
    top: 37px;
    z-index: 1;
}

.dropdown-item {
    display: flex;
    align-items: center;
    gap: 7px;
    color: var(--light-color);
    background: var(--dark-color);
    padding: 6px 10px;
}

.dropdown__button {
    width: 100%;
    border: none;
    color: var(--light-color);
    background: #484d53;
    padding: 10px 20px;
    border-radius: 10px 0 0 10px;
    cursor: pointer;
    height: 40px;
    background: linear-gradient(90deg, #484d53, 90%, #e2691a);
    box-shadow: -1px 1px 1px #0000005e;
}

.dropdown-item {
    cursor: pointer;
}

.dropdown__button_active {
    border-radius: 10px 0 0 0;
}

.dropdown-item__checkbox {
    border: solid 1px var(--light-color);
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8px;
    border-radius: 3px;
}

.dropdown-item__value {
    font-size: 14px;
}

.dropdown__list {
    background: #212121;
    display: flex;
    flex-wrap: wrap;
    border: none;
    margin-top: 3px;
}

.dropdown-item__value {
    font-size: 12px;
}